{% extends "layout.html" %}

{% block title %}Kontak - Aplikasi Enkripsi{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4 fw-bold text-primary text-center" data-aos="fade-down" >📞 Hubungi Kami</h1>
    <p class="lead" data-aos="fade-up" data-aos-delay="100">
        Jika Anda memiliki pertanyaan, masukan, atau membutuhkan bantuan teknis, silakan hubungi kami melalui informasi
        di bawah ini.
    </p>
    <div class="row g-4 mt-3">
        <div class="col-md-6" data-aos="fade-right" data-aos-delay="200">
            <div class="border rounded p-3 shadow-sm bg-light hover-card">
                <h5 class="fw-semibold">🏢 Alamat Kantor Kelurahan Sogaten</h5>
                <p>Kelurahan Sogaten<br>
                    Jl. Puspo Warno No.16<br>
                    Sogaten, Kec. Manguharjo</p>
                Kota Madiun, Jawa Timur 63129, Indonesia</p>
            </div>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-delay="300">
            <div class="border rounded p-3 shadow-sm bg-light hover-card">
                <h5 class="fw-semibold">📞 Kontak</h5>
                <p><i class="bi bi-envelope"></i> kelurahansogaten1004@gmail.com <br>
                    <i class="bi bi-telephone"></i> (0351) 455700 <br>
                    <i class="bi bi-globe"></i>
                    <a href="https://kelurahan-sogaten.madiunkota.go.id/" target="_blank" rel="noopener noreferrer">
                        https://kelurahan-sogaten.madiunkota.go.id/
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}